body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eff1f4;
}

.header-bg {
    background-color: #0c73fe;
    color: white;
}


.title-letter-spacing {
    letter-spacing: 2px;
}

.header-style {
    height: 500px;
}

.btn-warning {
    background-color: #ff6f30;
    border-color: #ff6f30;
}

.btn-warning:hover {
    background-color: #ee652b;
    border-color: #ee652b;
}

.btn-warning:active {
    background-color: #e05f27 !important;
    border-color: #e05f27 !important;
}

.form-control {
    border-radius: 0;
    border-color: #0c73fe;
}

.form-control:focus {
    border-color: #0c73fe;
    box-shadow: 0 0 0 0 rgb(13 110 253 / 25%);
}

.ticket-card {
    background-color: #fff;
    border: 0px solid;
    border-radius: 25px;
}

.ticket-card:hover {
    transition: box-shadow .2s linear, background .1s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .08);
    background: white;
}


.left-line {
    border-right: 2px solid #eff1f4;
}


.ticket-plane-color {
    color: #9ea9b7;
}

.horizontal-ticket-line {
    width: 100%;
    height: 6px;
    background-color: #cdd4de;
    border-right: 0 solid #cdd4de;
    border-left: 0 solid #cdd4de;
    border-radius: 3px;
}

.flight-time {
    font-size: 12px;
}

.ticket-minutes {
    font-weight: bold;
    font-size: 20px;
}

.ticket-city {
    font-size: 12px;
}

.ticket-date {
    font-size: 12px;
}

.ticket-order {
    background-color: #fff;
    border: 0px solid;
    border-radius: 15px;
}

/* Стилизация кнопок */
.counter-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0c73fe;
    border: none;
    color: white;
    font-size: 24px;
    line-height: 40px; /* Вертикальное выравнивание */
    text-align: center; /* Горизонтальное выравнивание */
}

.counter-button:hover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0a6cec;
    border: none;
    color: white;
    font-size: 24px;
    line-height: 40px; /* Вертикальное выравнивание */
    text-align: center; /* Горизонтальное выравнивание */
}

/* Позиционирование текста в центре кнопки */
.counter-button:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* Стилизация значения счетчика */
.counter-value {
    font-size: 24px; /* Устанавливаем размер текста */
}

.rounded-dropdown {
    border: 0px solid;
    border-radius: 25px;
}

.border-passanger {
    border: 1px solid;
    border-color: #0a6cec;
}

.dropdown-container {
    border-radius: 25px;
    position: absolute;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.ui-datepicker {
    width: 252px !important;
}