{% extends "base.html" %}
{% block content %}

<div class="container-fluid header-bg">
    <div class="row">
        <div class="">
            <div class="row justify-content-center d-flex mb-4 mt-1">
                <form class="d-flex justify-content-center w-75" id="search-form">
                    <div class="row justify-content-center w-100">
                        <div class="row">
                            <div class="col px-0">
                                <input type="text" class="rounded-start py-3 form-control inline-block"
                                       placeholder="From" aria-label="From" id="departure_loc">
                            </div>
                            <div class="col px-0">
                                <input type="text" class="form-control py-3 inline-block" placeholder="To"
                                       aria-label="To" id="destination-loc">
                            </div>
                            <div class="col px-0">
                                <input type="text" id="datepicker" class="form-control py-3 inline-block"
                                       placeholder="When" aria-label="When" readonly>
                            </div>
                            <div class="col px-0">
                                <div class="bg-white border-passanger px-2 rounded-end" id="passengertype">
                                    <div class="py-3 text-black-50" id="passangersdiv" data-search="1">Passengers and type</div>
                                    <div class="text-black" id="passangercount" style="display: none;">
                                        1 passenger
                                    </div>
                                    <div class="text-black-50" id="passangerclass" style="display: none;">
                                        Economy
                                    </div>
                                </div>
                                <div class="mt-2 dropdown-container text-black" id="dropdown-container"
                                     style="display: none;">
                                    <div class="bg-white mb-2 rounded-dropdown p-3">
                                        <div class="passenger-quantity px-1 py-2 fw-bold mb-2">
                                            Number of passengers
                                        </div>
                                        <div class="counter d-flex justify-content-between mb-3">
                                            <button type="button" class="counter-button decrement"
                                                    onclick="updatePassengerCount('-')">–
                                            </button>
                                            <span class="counter-value">1</span>
                                            <button type="button" class="counter-button increment"
                                                    onclick="updatePassengerCount('+')">+
                                            </button>
                                        </div>
                                        <div class="passenger-quantity px-1 py-2 fw-bold">
                                            Service class
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   id="flexRadioDefault1" checked
                                                   onclick="updateServiceClass('Economy')">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Economy
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   id="flexRadioDefault2"
                                                   onclick="updateServiceClass('Business')">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Business
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-auto">
                                <button type="submit" class="btn btn-warning py-3 text-white fw-semibold">Search
                                    tickets
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center my-4">
        <div class="col-8">
            <div class="row ticket-order py-3 px-4 justify-content-between">
                <div class="col-3 fw-bold">
                    Sort by:
                </div>
                <div class="col-9 d-flex justify-content-around">
                    <div class="price-sort" id="price-sort">
                        Price
                    </div>
                    <div class="quanity-sort" id="quanity-sort">
                        Quantity
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8" id="ticket-list">

        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ url_for('static', path='/js/sorting_price.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='/js/sorting_quantity.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='/js/search-flights.js') }}"></script>
{% endblock %}